.message-form-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

.message-form-container textarea {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  height: 1em;
  width: 20em;
  transition: border-color 0.25s;
}

.message-form-submit::after {
  content: "📤";
  margin-left: 0.5rem;
}
