.page-header {
  background: #333;
  box-sizing: border-box;
  color: #fff;
  height: 10vh;
}

.page-header-nav {
  align-items: center;
  display: flex;
  gap: 20px;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}

.page-header-controls {
  align-items: center;
  border-left: solid 1px #ccc;
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.page-title {
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.page-main {
  box-sizing: border-box;
  height: 90vh;
}

.page-messages {
  box-sizing: border-box;
  height: 90%;
  overflow: auto;
}

.page-form {
  box-sizing: border-box;
  height: 10%;
}
