.message {
  border-radius: 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to top, #4594f5, #4594f570);
  color: #fff;
  max-width: 50vw;
  padding: 20px;
  position: relative;
  z-index: 0;
}

.message p {
  padding: 0 0 0.3em;
  margin: 0 1em 0 0;
}

.message-details {
  font-size: 80%;
  padding-bottom: 0;
}

.message-delete {
  border-color: transparent;
  font-size: 0;
  padding: 0.3rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.message-delete::after {
  content: "🗑️";
  font-size: 0.7rem;
}
